<img src="Logo.png" width="100" align="left"/> 

# <center> Unit 3 Project </center>
#  <center> Third section : supervised task </center>

In this notebook you will be building and training a supervised learning model to classify your data.

For this task we will be using another classification model "The random forests" model.

Steps for this task: 
1. Load the already clustered dataset 
2. Take into consideration that in this task we will not be using the already added column "Cluster" 
3. Split your data.
3. Build your model using the SKlearn RandomForestClassifier class 
4. classify your data and test the performance of your model 
5. Evaluate the model ( accepted models should have at least an accuracy of 86%). Play with hyper parameters and provide a report about that.
6. Provide evidence on the quality of your model (not overfitted good metrics)
7. Create a new test dataset that contains the testset + an additional column called "predicted_class" stating the class predicted by your random forest classifier for each data point of the test set.

## 1. Load the data and split the data:

In [51]:
from sklearn.ensemble import RandomForestClassifier
import pandas as pd 
from sklearn.model_selection import train_test_split

In [52]:
# To-Do:  load the data 
df = pd.read_csv('clustered_HepatitisC.csv')
df.head()

,ID,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT,cluster
0,1,0,32,1,38.5,52.5,7.7,22.1,7.5,6.93,3.23,106.0,12.1,69.0,3
1,2,0,32,1,38.5,70.3,18.0,24.7,3.9,11.17,4.80,74.0,15.6,76.5,3
2,3,0,32,1,46.9,74.7,36.2,52.6,6.1,8.84,5.20,86.0,33.2,79.3,3
3,4,0,32,1,43.2,52.0,30.6,22.6,18.9,7.33,4.74,80.0,33.8,75.7,3
4,5,0,32,1,39.2,74.1,32.6,24.8,9.6,9.15,4.32,76.0,29.9,68.7,3

In [53]:
# To-Do : keep only the columns to be used : all features except ID, cluster 
# The target here is the Category column 
# Do not forget to split your data (this is a classification task)
# test set size should be 20% of the data 

X = df.drop(columns=['cluster','ID','Category'])
y = df['Category']

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

## 2. Building the model and training and evaluate the performance:

In [54]:
# To-do build the model and train it 
# note that you will be providing explanation about the hyper parameter tuning 
# So you will be iterating a number of times before getting the desired performance 
from sklearn.ensemble import RandomForestClassifier
import tqdm

rf = RandomForestClassifier(random_state=42)

#Hyperparametertuning STILL MISSING
from sklearn.model_selection import GridSearchCV

param_grid = {
    'n_estimators': [5,10,20,30,40,50,100],
    'max_depth': [None, 2,5,10,20,30,50],
    'min_samples_split': [2, 5, 10],  
    'min_samples_leaf': [1, 2, 4],  
    'max_features': ['sqrt', 'log2', None], 
    'bootstrap': [True, False]  
}


grid_search = GridSearchCV(
    rf,
    param_grid=param_grid,
    scoring='accuracy',
    cv=5
)

grid_search.fit(X_train,y_train)

best_params = grid_search.best_params_
print('Best Parameters:', best_params)

best_rf = grid_search.best_estimator_

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/model_selection/_split.py:776: UserWarning: The least populated class in y has only 4 members, which is less than n_splits=5.
  warnings.warn(

Best Parameters: {'bootstrap': False, 'max_depth': 10, 'max_features': 'sqrt', 'min_samples_leaf': 1, 'min_samples_split': 2, 'n_estimators': 30}

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/numpy/ma/core.py:2820: RuntimeWarning: invalid value encountered in cast
  _data = np.array(data, dtype=dtype, copy=copy,

In [55]:
y_hat = best_rf.predict(X_test)

In [56]:
# To-do : evaluate the model in terms of accuracy and precision 
# Provide evidence that your model is not overfitting 
from sklearn.metrics import precision_score, accuracy_score
accuracy = accuracy_score(y_test,y_hat)
prec_score = precision_score(y_test,y_hat,average='weighted')

print(f'{accuracy}, {prec_score}')

0.8780487804878049, 0.8666270474453742

> Hint : A Perfect accuracy on the train set suggest that we have an overfitted model So the student should be able to provide a detailed table about the hyper parameters / parameters tuning with a good conclusion stating that the model has at least an accuracy of 86% on the test set without signs of overfitting

## 3. Create the summary test set with the additional predicted class column: 
In this part you need to add the predicted class as a column to your test dataframe and save this one

In [57]:
# To-Do : create the complete test dataframe : it should contain all the feature column + the actual target and the ID as well  
test_df = X_test.copy()
test_df["Category"] = y_test
test_df['ID'] = df.loc[X_test.index, 'ID']  # Get the 'ID' values from the original dataset
test_df['cluster'] = df.loc[X_test.index, 'cluster']  # Get the 'ID' values from the original dataset

In [58]:
test_df.head()

,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT,Category,ID,cluster
248,55,1,28.1,65.5,16.6,17.5,2.8,5.58,4.39,65.0,26.2,62.4,0,249,3
365,39,0,31.4,106.0,16.6,17.0,2.4,5.95,5.30,68.0,22.9,72.3,0,366,3
432,48,0,43.7,50.1,17.3,26.3,8.1,8.15,5.38,64.0,13.4,73.1,0,433,3
610,62,0,32.0,416.6,5.9,110.3,50.0,5.57,6.30,55.7,650.9,68.5,4,611,2
132,44,1,35.5,81.7,27.5,29.5,6.4,8.81,6.65,83.0,24.1,68.0,0,133,3

In [59]:
# To-Do : Add the predicted_class column 
test_df['Predicted_class'] = y_hat

In [60]:
test_df.head()

,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT,Category,ID,cluster,Predicted_class
248,55,1,28.1,65.5,16.6,17.5,2.8,5.58,4.39,65.0,26.2,62.4,0,249,3,0
365,39,0,31.4,106.0,16.6,17.0,2.4,5.95,5.30,68.0,22.9,72.3,0,366,3,0
432,48,0,43.7,50.1,17.3,26.3,8.1,8.15,5.38,64.0,13.4,73.1,0,433,3,0
610,62,0,32.0,416.6,5.9,110.3,50.0,5.57,6.30,55.7,650.9,68.5,4,611,2,4
132,44,1,35.5,81.7,27.5,29.5,6.4,8.81,6.65,83.0,24.1,68.0,0,133,3,0

> Make sure you have 16 column in this test set

In [61]:
# Save the test set 
test_df.to_csv("test_summary.csv")